Node-Red/CaravanaFlow.txt
[{"id":"6ec0ef4c.ed881","type":"MSSQL","z":"64cd7183.53108","mssqlCN":"c66413f5.eb8bb","name":"MSSQL","query":"","outField":"payload","x":312,"y":236,"wires":[["37f57b4a.a2efd4"]]},{"id":"9762a092.03619","type":"mqtt in","z":"64cd7183.53108","name":"TAG","topic":"TagNumber/#","qos":"0","broker":"f8895c41.96802","x":89,"y":153,"wires":[["122f6a4e.4d0f66","796852b9.8601cc"]]},{"id":"355df9cd.adc596","type":"function","z":"64cd7183.53108","name":"SELECT","func":"var RFIDCode = msg.payload;\n\nvar query = \"SELECT [DummyDB].[dbo].[Cow].[Name],\";\nquery += \"[DummyDB].[dbo].[Breed].[BreedDetail],\";\nquery += \"[DummyDB].[dbo].[Sex].[SexDetail],\";\nquery += \"[DummyDB].[dbo].[Cow].[Weight],\";\nquery += \"[DummyDB].[dbo].[Cow].[DateOfBirth],\";\nquery += \"[DummyDB].[dbo].[Herd].[HerdDetail],\";\nquery += \"[DummyDB].[dbo].[Cow].[RFIDNumber]\";\nquery += \"FROM ((([DummyDB].[dbo].[Cow] \";\nquery += \"INNER JOIN [DummyDB].[dbo].[Breed] ON [Cow].[BreedId] = [Breed].[Id]) \";\nquery += \"INNER JOIN [DummyDB].[dbo].[Sex] ON [Cow].[SexId] = [Sex].[Id]) \";\nquery += \"INNER JOIN [DummyDB].[dbo].[Herd] ON [Cow].[HerdId] = [Herd].[Id]) \";\nquery += \"WHERE [DummyDB].[dbo].[Cow].[RFIDNumber] LIKE \" + RFIDCode;\n \nmsg.topic = 'cowData';\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"x":283,"y":193,"wires":[["6ec0ef4c.ed881"]]},{"id":"2052e102.85c12e","type":"inject","z":"64cd7183.53108","name":"Test","topic":"TagNumber/#","payload":"'231 100 100'","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88.5,"y":92.99999713897705,"wires":[["355df9cd.adc596"]]},{"id":"f24a8777.7ce788","type":"ui_text","z":"64cd7183.53108","group":"e67b0dc7.d845c","order":2,"width":0,"height":0,"name":"Name","label":"Nombre","format":"{{msg.payload}}","layout":"row-spread","x":656,"y":244,"wires":[]},{"id":"37f57b4a.a2efd4","type":"function","z":"64cd7183.53108","name":"Get Data","func":"var obj = msg.payload[0];\nmsg.payload = obj\nvar name   = {\"payload\":msg.payload.Name};\nvar breed  = {\"payload\":msg.payload.BreedDetail};\nvar sex    = {\"payload\":msg.payload.SexDetail};\nvar weight = {\"payload\":msg.payload.Weight};\nvar birth  = {\"payload\":msg.payload.DateOfBirth.toString().slice(0,10)};\nvar herd   = {\"payload\":msg.payload.HerdDetail};\nvar rfidCode = {\"payload\":msg.payload.RFIDNumber};\n\nreturn [rfidCode, name, breed, sex, weight, birth, herd];","outputs":7,"noerr":0,"x":456.5,"y":262,"wires":[[],["f24a8777.7ce788"],["462451da.97d55"],["59195582.2819ec"],["89621a0e.3e4f58"],["da361597.670fa8"],["3b581eac.b8cb52"]]},{"id":"122f6a4e.4d0f66","type":"function","z":"64cd7183.53108","name":"Get Code","func":"var code0; \nvar code1; \nvar code2;\n//code3;\n\ncode0 = msg.payload[0];\ncode1 = msg.payload[1];\ncode2 = msg.payload[2];\n//code3 = msg.payload[3];\nvar code = \"'\"+code0+\" \"+code1+\" \"+code2/*+\" \"+code3*/+\"'\";\n\nmsg.payload = code;\n\nreturn msg;","outputs":1,"noerr":0,"x":253,"y":153,"wires":[["355df9cd.adc596"]]},{"id":"462451da.97d55","type":"ui_text","z":"64cd7183.53108","group":"e67b0dc7.d845c","order":3,"width":0,"height":0,"name":"Breed","label":"Raza","format":"{{msg.payload}}","layout":"row-spread","x":657,"y":277,"wires":[]},{"id":"59195582.2819ec","type":"ui_text","z":"64cd7183.53108","group":"e67b0dc7.d845c","order":4,"width":0,"height":0,"name":"Sex","label":"Sexo","format":"{{msg.payload}}","layout":"row-spread","x":655.5,"y":310,"wires":[]},{"id":"89621a0e.3e4f58","type":"ui_text","z":"64cd7183.53108","group":"e67b0dc7.d845c","order":5,"width":0,"height":0,"name":"Weight","label":"Peso","format":"{{msg.payload}} KG","layout":"row-spread","x":655.5,"y":344,"wires":[]},{"id":"da361597.670fa8","type":"ui_text","z":"64cd7183.53108","group":"e67b0dc7.d845c","order":6,"width":0,"height":0,"name":"Date of Birth","label":"Fec. Nac.","format":"{{msg.payload}}","layout":"row-spread","x":673.5,"y":378,"wires":[]},{"id":"3b581eac.b8cb52","type":"ui_text","z":"64cd7183.53108","group":"e67b0dc7.d845c","order":7,"width":0,"height":0,"name":"Herd","label":"Rebaño","format":"{{msg.payload}}","layout":"row-spread","x":653.5,"y":412,"wires":[]},{"id":"e18b4560.f0a078","type":"ui_button","z":"64cd7183.53108","name":"","group":"1461a365.68c62d","order":0,"width":"3","height":"1","passthru":false,"label":"Lector","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Inicio_Contador\"],\"show\":[\"Inicio_Lector\",\"Inicio_Opciones\"]}}","payloadType":"json","topic":"","x":518.9999694824219,"y":83.00000190734863,"wires":[["19bef2d.41d990d"]]},{"id":"19bef2d.41d990d","type":"ui_ui_control","z":"64cd7183.53108","name":"","x":717.9999694824219,"y":94.00000190734863,"wires":[[]]},{"id":"6d9d2334.24f16c","type":"ui_button","z":"64cd7183.53108","name":"","group":"1461a365.68c62d","order":0,"width":"3","height":"1","passthru":false,"label":"Contador","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Inicio_Lector\",\"Inicio_Opciones\"],\"show\":[\"Inicio_Contador\"]}}","payloadType":"json","topic":"","x":531.4999694824219,"y":125.00000190734863,"wires":[["19bef2d.41d990d"]]},{"id":"3129358e.a15e6a","type":"counter","z":"64cd7183.53108","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":198,"y":372,"wires":[["5870f7b4.042948"]]},{"id":"5a0a46e1.0c4078","type":"ui_text","z":"64cd7183.53108","group":"6a12c08f.f555","order":0,"width":0,"height":0,"name":"Cantidad","label":"Cantidad de Vacas contadas","format":"{{msg.count}}","layout":"row-spread","x":372,"y":412,"wires":[]},{"id":"796852b9.8601cc","type":"function","z":"64cd7183.53108","name":"add 1","func":"msg.increment = 1;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":332,"wires":[["3129358e.a15e6a"]]},{"id":"5870f7b4.042948","type":"function","z":"64cd7183.53108","name":"Get count","func":"var count   = {\"count\":msg.count};\nreturn count;","outputs":1,"noerr":0,"x":227,"y":412,"wires":[["5a0a46e1.0c4078"]]},{"id":"2da97c8c.58bc04","type":"comment","z":"64cd7183.53108","name":"UI Inicio","info":"Botones para navegar por la UI del Inicio","x":718.9999694824219,"y":55.00000190734863,"wires":[]},{"id":"bf8403ba.b6e2c","type":"comment","z":"64cd7183.53108","name":"Test","info":"Para probar, conectar con la función Procedure.","x":87,"y":57,"wires":[]},{"id":"d599538f.1ff4f","type":"function","z":"64cd7183.53108","name":"INSERT","func":"var name        = \"'\"+msg.payload.name+\"'\";\nvar breed       = \"'\"+msg.payload.breed+\"'\";\nvar sex         = \"'\"+msg.payload.sex+\"'\";\nvar weight      = \"'\"+msg.payload.weight+\"'\";\nvar dateOfBirth = \"'\"+msg.payload.dateOfBirth+\"'\";\nvar herd        = \"'\"+msg.payload.herd+\"'\";\nvar rfid        = \"'\"+msg.payload.rfidNumber+\"'\";\n\nvar query = \"INSERT INTO [DummyDB].[dbo].[Cow] ([Name], [BreedId], [SexId], [Weight], [DateOfBirth], [HerdId], [IsDeleted], [RFIDNumber]) \";\nquery += \"VALUES (\"+name+\", \"+breed+\", \"+sex+\", \"+weight+\", \"+dateOfBirth+\", \"+herd+\", \"+0+\", \"+rfid+\");\";\n\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":207.5,"y":514,"wires":[["2be454a2.a1295c"]]},{"id":"2be454a2.a1295c","type":"MSSQL","z":"64cd7183.53108","mssqlCN":"c66413f5.eb8bb","name":"MSSQL","query":"","outField":"payload","x":345,"y":514,"wires":[[]]},{"id":"ca49e2ce.21f63","type":"ui_form","z":"64cd7183.53108","name":"","label":"","group":"7cd8e4f6.19461c","order":0,"width":0,"height":0,"options":[{"label":"Nombre","value":"name","type":"text","required":true},{"label":"Raza","value":"breed","type":"number","required":true},{"label":"Sexo","value":"sex","type":"number","required":true},{"label":"Peso","value":"weight","type":"number","required":false},{"label":"Fec Nac","value":"dateOfBirth","type":"text","required":false},{"label":"Rebaño","value":"herd","type":"number","required":false},{"label":"Etiqueta","value":"rfidNumber","type":"text","required":false}],"formValue":{"name":"","breed":"","sex":"","weight":"","dateOfBirth":"","herd":"","rfidNumber":""},"payload":"","submit":"Agregar","cancel":"Cancelar","topic":"","x":84,"y":514,"wires":[["d599538f.1ff4f"]]},{"id":"336c471b.f14e18","type":"comment","z":"64cd7183.53108","name":"Agregar animal","info":"Estos nodos agregan un nuevo animal a la DB.","x":114,"y":474,"wires":[]},{"id":"ea9f9583.cd71e8","type":"comment","z":"64cd7183.53108","name":"Contador de Etiquetas","info":"Estos nodos devuelven la cantidad de etiquetas leídas.","x":187,"y":297,"wires":[]},{"id":"f56e07db.30cd68","type":"ui_button","z":"64cd7183.53108","name":"","group":"9514f44f.608388","order":0,"width":"3","height":"1","passthru":false,"label":"Eliminar","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":551.9999618530273,"y":176.00001525878906,"wires":[["6203502.45c57b","4eeb22e3.457e8c"]]},{"id":"6203502.45c57b","type":"function","z":"64cd7183.53108","name":"UPDATE (delete)","func":"var rfidCode = msg.payload;\n\nvar query =\"UPDATE [DummyDB].[dbo].[Cow] SET [IsDeleted] = '1' WHERE [RFIDNumber] = \"+rfidCode+\";\"\n\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":742,"y":154,"wires":[["c5ad9060.701c3"]]},{"id":"c5ad9060.701c3","type":"MSSQL","z":"64cd7183.53108","mssqlCN":"c66413f5.eb8bb","name":"MSSQL","query":"","outField":"payload","x":849,"y":197,"wires":[[]]},{"id":"7e17a906.e188e8","type":"function","z":"64cd7183.53108","name":"SELECT All","func":"//var RFIDCode = msg.payload;\n\nvar query = \"SELECT [DummyDB].[dbo].[Cow].[Name],\";\nquery += \"[DummyDB].[dbo].[Breed].[BreedDetail],\";\nquery += \"[DummyDB].[dbo].[Sex].[SexDetail],\";\nquery += \"[DummyDB].[dbo].[Cow].[Weight],\";\nquery += \"[DummyDB].[dbo].[Cow].[DateOfBirth],\";\nquery += \"[DummyDB].[dbo].[Herd].[HerdDetail],\";\nquery += \"[DummyDB].[dbo].[Cow].[RFIDNumber]\";\nquery += \"FROM ((([DummyDB].[dbo].[Cow] \";\nquery += \"INNER JOIN [DummyDB].[dbo].[Breed] ON [Cow].[BreedId] = [Breed].[Id]) \";\nquery += \"INNER JOIN [DummyDB].[dbo].[Sex] ON [Cow].[SexId] = [Sex].[Id]) \";\nquery += \"INNER JOIN [DummyDB].[dbo].[Herd] ON [Cow].[HerdId] = [Herd].[Id])\";\n \nmsg.topic = 'cowData';\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"x":679.0173568725586,"y":510.01043128967285,"wires":[["8d754bcc.3af1f8"]]},{"id":"8d754bcc.3af1f8","type":"MSSQL","z":"64cd7183.53108","mssqlCN":"c66413f5.eb8bb","name":"MSSQL","query":"","outField":"payload","x":751.0173492431641,"y":556.0104856491089,"wires":[["68355a7.59d5da4"]]},{"id":"68355a7.59d5da4","type":"ui_template","z":"64cd7183.53108","group":"3fdf48b9.c6cc88","name":"Table","order":1,"width":"12","height":"10","format":"<head>\n    <style>\n#table {\n  /*font-family: \"Trebuchet MS\", Arial, Helvetica, sans-serif;\n  */border-collapse: collapse;\n  width: 100%;\n}\n\n#table td, #table th {\n  border: 1px solid #ddd;\n  padding: 8px;\n}\n\n#table tr:nth-child(even){background-color: #f2f2f2;}\n\n#table tr:hover {background-color: #ddd;}\n\n#table th {\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #fc8a19;\n  color: white;\n}\n</style>\n\n<table id=\"table\" border=\"0\">\n    <tr>\n        <th>Nombre</th> \n        <th>Raza</th>\n        <th>Sexo</th>\n        <th>Peso</th>\n        <th>Fec. Nac.</th>\n        <th>Rebaño</th>\n        <th>Código RFID</th>\n    </tr>\n    <tbody>\n        <tr ng-repeat=\"row in msg.payload\">\n            <td ng-repeat=\"item in row\" >{{item}}</td>\n        </tr>\n    </tbody>\n</table>\n</head>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":826.6840591430664,"y":600.0104598999023,"wires":[[]]},{"id":"13c31960.d231c7","type":"ui_button","z":"64cd7183.53108","name":"","group":"4bebea9f.dfdf14","order":0,"width":"0","height":"0","passthru":true,"label":"Listar","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Animales_Agregar_Animal\"],\"show\":[\"Animales_Lista\"]}}","payloadType":"json","topic":"","x":506.01734161376953,"y":510.1215114593506,"wires":[["7e17a906.e188e8","82516904.eac8a8"]]},{"id":"82516904.eac8a8","type":"ui_ui_control","z":"64cd7183.53108","name":"","x":657.0173759460449,"y":600.2328367233276,"wires":[[]]},{"id":"4a565076.86fd5","type":"ui_button","z":"64cd7183.53108","name":"","group":"4bebea9f.dfdf14","order":0,"width":"0","height":"0","passthru":true,"label":"Agregar","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Animales_Lista\"],\"show\":[\"Animales_Agregar_Animal\"]}}","payloadType":"json","topic":"","x":515.0174255371094,"y":554.2326860427856,"wires":[["82516904.eac8a8"]]},{"id":"4f26ef1f.98c24","type":"comment","z":"64cd7183.53108","name":"UI Animales","info":"Botones para navegar por la UI Animales","x":535.0173721313477,"y":469.2326240539551,"wires":[]},{"id":"4eeb22e3.457e8c","type":"debug","z":"64cd7183.53108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":823.5173377990723,"y":281.50004959106445,"wires":[]},{"id":"c66413f5.eb8bb","type":"MSSQL-CN","z":"","name":"Victor","server":"VICTOR-NOTEBOOK\\SQLEXPRESS","encyption":false,"database":"DummyDB"},{"id":"f8895c41.96802","type":"mqtt-broker","z":"","name":"","broker":"sambrana.com.ar","port":"2000","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e67b0dc7.d845c","type":"ui_group","z":"","name":"Lector","tab":"31168954.9f1496","order":2,"disp":true,"width":"6","collapse":false},{"id":"1461a365.68c62d","type":"ui_group","z":"","name":"Menu","tab":"31168954.9f1496","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a12c08f.f555","type":"ui_group","z":"","name":"Contador","tab":"31168954.9f1496","order":3,"disp":true,"width":"6","collapse":false},{"id":"7cd8e4f6.19461c","type":"ui_group","z":"","name":"Agregar Animal","tab":"b55f9bcd.dd17a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"9514f44f.608388","type":"ui_group","z":"","name":"Opciones","tab":"31168954.9f1496","order":4,"disp":true,"width":"6","collapse":true},{"id":"3fdf48b9.c6cc88","type":"ui_group","z":"","name":"Lista","tab":"b55f9bcd.dd17a8","order":2,"disp":true,"width":"12","collapse":false},{"id":"4bebea9f.dfdf14","type":"ui_group","z":"","name":"Menu","tab":"b55f9bcd.dd17a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"31168954.9f1496","type":"ui_tab","z":"","name":"Inicio","icon":"home"},{"id":"b55f9bcd.dd17a8","type":"ui_tab","z":"","name":"Animales","icon":"pets","order":2}]